# MongoDB
# Para desenvolvimento local: mongodb://localhost:27017/cafe-aroma
# Para MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/cafe-aroma
MONGODB_URI=mongodb://localhost:27017/cafe-raizes

# Server
PORT=3001
NODE_ENV=development

# CORS (frontend URL)
FRONTEND_URL=http://localhost:3000
